* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  font-family: 'Lora', serif;
}

body {
  background-color: #1a1412;
  color: #f5ede3;
}
